/*distinto gradiente en base de la marca/sección de coche*/
.bentley {
    background: linear-gradient(to bottom, white, black);
}

.lambo {
    background: linear-gradient(to bottom, black, red);
}

.ferrari {
    background: linear-gradient(to bottom, red, gray);
}

.mercedes {
    background: linear-gradient(to bottom, gray, white);

}